@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');



header {
  background: linear-gradient(90deg, rgba(234, 233, 242, 1) 0%, rgba(210, 213, 219, 1) 51%, rgba(161, 161, 161, 1) 100%);
  width: 100%;
}


#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20PX;
}

.logo {
  height: 15vh;
}

.top-nav {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.list-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: 'Share Tech Mono';
}

.item-nav {
  display: inline-block;
  margin: 5px 20px;
}

.item-nav a {
  font-size: 1.2em;
  color: #000000;
  text-decoration: none;
  cursor: inherit;
}

.item-nav::after a:visited {
  color: #8052ad;
}

.item-nav a:hover {
  color: rgb(252, 135, 67);
  cursor: pointer;
}

/* 
@media all (max-width:600px){ 
    #header{

    flex-wrap: wrap;
    
nav{

width: 100%;
flex-wrap: wrap;

} */

.titulo {
  background: url(./img/HighTechnologyBG.png);
 box-sizing: border-box;
  height: 30%;
  margin: -15px 0 -3px 0;
  background-size: cover;
  font-family: 'Share Tech Mono';
  width: 100%;
}

#title {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
}

.titulo span {
  text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  margin: 0.5vh 3vw;
  font-size: 2em;
  color: #ffff;
}

body {
  margin: 0;
  padding: 0;
}

.secciones {

  display: flex;
  width: 100%;
  height: 300px;

  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.section-box {

  height: 37vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-box:nth-child(1){
  background-color: rgba(234, 233, 242, 1);

}
.section-box:nth-child(2){
  background-color: rgba(210, 213, 219, 1) ;  
}
.section-box:nth-child(3){
  background-color: rgba(191, 191, 191, 1)  
}
.section-box h3{
  font-family: 'IBM Plex Sans', sans-serif;
}

.secciones ion-icon{

  font-size: 2em;

}
.galeria {
  width: 100%;
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1px;
justify-items: center;
}



.galeria-box {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  filter: grayscale(75%);
  
}

.galeria-box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(180, 169, 169, 0.3);
  opacity: 0;
 
}

.galeria-box:hover {
  transform: scale(1.35, 1.35);
  background-color: white;
  filter: none;

}

.galeria-box:hover::after {
  opacity: 1;
}

.galeria-box .tool-text {
  visibility: hidden;
  height: 2vh;
  width: 7vw;
  background-color: rgb(231, 222, 222);
  color: rgb(39, 39, 46);
  text-align: center;
  border: black;
  font-size: 12px;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
}


.galeria-box:hover .tool-text {
  visibility: visible;
  transition-delay: 0.5s;
}

footer {
  background: linear-gradient(90deg, rgba(234, 233, 242, 1) 0%, rgba(210, 213, 219, 1) 51%, rgba(161, 161, 161, 1) 100%);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.contact-container{
width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-container h2{

  font-family: monospace;
  font-size: 2em;
}

form{
  border-radius: 5px;
  width: 60% ;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 1.2em;
}




input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #cccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:hover{
  box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px; ;

}
input[type=submit] {
  background-color: rgb(151, 188, 243);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(95, 152, 236);
}