@font-face{
font-family: "Ubuntu-Light";
src: url(./fonts/Ubuntu-Light.ttf);

}
@font-face{
    font-family: "Ubuntu-Bold";
    src: url(./fonts/Ubuntu-Bold.ttf);

}

@font-face{
    font-family: "Ubuntu-Italic";
    src: url(./fonts/Ubuntu-Italic.ttf);

}

body{
    margin: 0;
    padding: 0;
}

.titulo{
display: inline-block;
color: white;
font-family:"Ubuntu-Bold" ;
font-size: 40px;

}
header{
background-image: url(./img/spacebkg.png);
width: 100%;
height: 15vh;
background-size: cover;
background-position: top;
align-items: left;
}

.container-nav{
    display: flex;
    justify-content: space-around;
    align-items: right;
    background-color: rgb(236, 236, 223);
    height: 50px;
  
}

}
.list-nav{
    list-style: none;
}

.item-nav{
    display: inline-block;
    margin: 0px 20px;
    font-family: "Ubuntu-Light";
}

.item-nav a{
    color: inherit;
    text-decoration: none;
    /* cursor: inherit; */
}


.item-nav a:hover{
    color: rgb blue;
    cursor: pointer;
}

#titulo-primario{
    font-size: 100px;
    font-family: "Ubuntu-Bold", sans-serif;
    display: inline-block;
   
    border-right: 2px solid red;
    margin-block-start: 0.67em;
    margin-block-end: 0.35em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: tomato;

    

} 


#texto1{
  display: inline-block;
    text-align: center;
     
   
   
      font-family: "Ubuntu-Bold", sans-serif;
   
}

.caja-texto{
    background-color:rgba(241, 163, 74, 0.2);
    border-width: thin;
    border-style: inset; 
   
    width: 100%;
    height: 50px;

}



 #index{
     display: inline-block;
text-align: left;


    margin-inline-start: 2px;
    margin-inline-end: 650px;
    padding-inline-start: 10px;
    
 }
 

 .footer-link{
    font-family: "Ubuntu-Light";
 }

 footer{
    
    background-image: url(./img/spacebkg.png);
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-position: bottom;
    
 }